<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #floating-panel {
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 95%;
        bottom: 5px;
        z-index: 20;
      }
    </style>
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">{{ appTitle }}</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">

              <a class="nav-item nav-link" href="/">Home</a>
              <a class="nav-item nav-link" href="/timeSeriesVisualization">Time Series Visualization</a>
              <a class="nav-item nav-link" href="/googleMapsVisualization">Google Maps Visualization</a>

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <!-- placeholder for links going on the right side of the header -->
            </div>
          </div>
        </div>
      </nav>
    </header>

    <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class ="border-bottom mb-4">Generate a Time Series Visulization of Tweets Sentiment Related to the COVID-19 Quarentine</legend>
        <div class="form-group">
          {{ form.lookback.label(class="form-check-label") }}
          {{ form.lookback(class="form-control form-control-lg") }}
        </div>
        <div class="form-group">
          {{ form.daily_sample_size.label(class="form-check-label") }}
          {{ form.daily_sample_size(class="form-control form-control-lg") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
    <div id="floating-panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map"></div>
    <script>

      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

      /*
      lat = {{ lat }};
      lon = {{ lon }};
      weight = {{ weight }};
      */

      
      var map, heatmap;

      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: {lat: 37.775, lng: -122.434},
          mapTypeId: 'satellite'
        });
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map
        });
      }

      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }

      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }

      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 20);
      }

      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }

      // Heatmap data: 500 Points
      function getPoints() {
        let lat = {{ lat }};
        let lon = {{ lon }};
        let weight = {{ weight }}

        var pointArray = [];
            for (let i = 0; i < lat.length; i++){
              pointArray.push({location: new google.maps.LatLng(lat[i], lon[i]), weight: weight[i]});
            }
            return pointArray;
        }
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdBA39xq1V7E7olkINdWijGe7bRX9UZkg&libraries=visualization&callback=initMap">
    </script>
  </body>
</html>




<!--


<div id="map"></div>
        <div id="floating-panel">
          <button onclick="toggleHeatmap()">Toggle Heatmap</button>
          <button onclick="changeGradient()">Change gradient</button>
          <button onclick="changeRadius()">Change radius</button>
          <button onclick="changeOpacity()">Change opacity</button>
        </div>
        <script>

          const lat = JSON.parse( {{ lat }} );
          const lon = JSON.parse( {{ lat }} );
          const weight = JSON.parse( {{ lat }} );



          // This example requires the Visualization library. Include the libraries=visualization
          // parameter when you first load the API. For example:
          // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">

          var map, heatmap;

          function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 1,
              center: {lat: 90, lng: 90},
              mapTypeId: 'satellite'
            });

            heatmap = new google.maps.visualization.HeatmapLayer({
              data: [new google.maps.LatLng(10, 10), new google.map.LatLng(30, 30)]
              map: map
            });
          }

          function toggleHeatmap() {
            heatmap.setMap(heatmap.getMap() ? null : map);
          }

          function changeGradient() {
            var gradient = [
              'rgba(0, 255, 255, 0)',
              'rgba(0, 255, 255, 1)',
              'rgba(0, 191, 255, 1)',
              'rgba(0, 127, 255, 1)',
              'rgba(0, 63, 255, 1)',
              'rgba(0, 0, 255, 1)',
              'rgba(0, 0, 223, 1)',
              'rgba(0, 0, 191, 1)',
              'rgba(0, 0, 159, 1)',
              'rgba(0, 0, 127, 1)',
              'rgba(63, 0, 91, 1)',
              'rgba(127, 0, 63, 1)',
              'rgba(191, 0, 31, 1)',
              'rgba(255, 0, 0, 1)'
            ]
            heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
          }

          function changeRadius() {
            heatmap.set('radius', heatmap.get('radius') ? null : 20);
          }

          function changeOpacity() {
            heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
          }

          // Heatmap data: 500 Points
          function getPoints() {
            var pointArray[];
            for (let i = 0; i < lat.length; i++){
              pointArray.push(new google.maps.LatLng(lat[i], lon[i]))
            }

            return [pointArray];
          }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdBA39xq1V7E7olkINdWijGe7bRX9UZkg&libraries=visualization&callback=initMap">
        </script> -->