{% extends "layout.html" %}
{% block content %}

<div class='content-section'>
<p><b>README:</b></p>

<p>GENERAL:</p>

<p>This repository included the required files for serving the web app UI, as well as additional files relating to my larger research goal twitter sentiment analysis.</p>

<p>The web app can run locally by cloning this repository, navigating to that folder in your terminal, and running &ldquo;$python flask_app.py.&rdquo;</p>

<p>Be sure that it is python3.7 or higher.</p>

<p>
The python class for tweet analyzing is located in tweet_processor.py</p>

<p>&ldquo;Tweets.json&rdquo; and &ldquo;twitter_auth.py&rdquo; are not required however</p>

<p>Finally -- Be sure you have the following packages and libraries installed on you local machine, should you wish to run this locally:</p>

<p>To check, navigate your terminal to the source folder and:<br>
&ldquo;$ pip install requirements.txt&rdquo;</p>

<p>
TWEET_PROCESSOR:</p>

<p>Tweet processing begins with the twitter API. I used the Tweepy library to take advantage of the Cursor method, which allows me to scrape a sample of tweets. I also have to use the google maps API to convert string location lat/lon pairs for the heatmap eventually.</p>


<p>After scraping tweets, I parse them into a pandas dataframe to allow easy grouping and pivoting of data.</p>

<p>One method I&rsquo;d like to highlight is get_tweet_range_df(). This method gets a full dataframe of n random samples per day in lookback. It uses the tweet_sentiment_score() method. This is where the NLP polarity scoring takes place. For this I decided to use TextBlob&rsquo;s NLP polarity scored of text method. TextBlob can be very powerful! For more https://textblob.readthedocs.io/en/dev/index.html</p>

<p>WEB_APP</p>

<p>For the web app, I used python flask, html, javascript, css, and json, along with a bunch of packages. Dont worry, the packages are included when running the virtual env locally.</p>

<p>WEB_APP INSTRUCTIONS:</p>

<p>I decided to use a simple csv as my database for the ease of implementation. I am confindent that querying from the csv will provide a fast enough experience client end.</p>

<p>For the time series visualization, and the google maps visualization the user has a choice in how many days before today to lookback. For example a look back of 7 will look from all of yesterday, up to and including 7 days before.</p>

<p>The tweets per day is a setting that allows the user to select how many tweets should be sampled in each days bucket when computing average tweet sentiment per day.</p>

<p>The sentiment value is a number -1 to 1 where -1 is the worst sentiment and 1 is the best. For the most part, I have noticed that average sentiment is usually positive, but I will keep monitoring.</p>

<p>In the google maps visualization, sentiment by location is displayed in heatmap format. Red hot locations are positive, green is negative, and yellow is neutral by default.</p>

<p>I know some users find the default color scheme a bit confusing. The color scheme can be changed however on the map.</p>

<p>
FINAL NOTES:</p>

<p>This project has taken a good majority of 2 weeks for me. I was very comfortable with the data handling and analysis coming in, but I was weaker in javascript and html. As I progressed through the project however, I became more comfortable with these languages.</p>

<p>In the future, I would like to re-write certain parts of my app to accomodate a growing and automatically updating sqlite database. I could do this by streaming tweets in, which would enable the app to handle much larger tweets per day values, and ultimatly farther lookbacks.</p>

<p>Thank you very much for visiting!</p>

</div>

{% endblock content %}